.services {
	padding-top: 50px;
	text-align: center;
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: whitesmoke;
	min-height: 600px !important;
}
