.nav {
  display: flex;
  justify-content: flex-end;
  background: linear-gradient(0deg, transparent, hsl(135, 78%, 9%)) !important;
  opacity: 85%;
  position: sticky;
  top: 0;
  color: white;
}

.MuiButton-root {
  color: white !important;
}

.MuiButton-root:hover {
  color: hsl(151, 27%, 69%) !important;
}
