.nav {
	display: flex;
	justify-content: flex-end;
	background: linear-gradient(
		-20deg,
		transparent,
		hsl(221, 51%, 12%)
	) !important;
	opacity: 85%;
	position: sticky;
	top: 0;
}

.MuiPaper-root {
	color: hsl(221, 51%, 12%) !important;
	font-size: 50px !important;
}

.MuiSvgIcon-root {
	fill: #001d3d !important;
	width: 2em !important;
	font-size: 1.3em !important;
}

.MuiSvgIcon-root:hover {
	box-shadow: 0 0 3px #16679a, 0 0 5px #43a8ba !important;
	border-radius: 80px !important;
}

.MuiAvatar-root {
	width: 60px !important;
	padding: 3px !important;
}

.MuiAvatar-root:hover {
	box-shadow: 0 0 3px #16679a, 0 0 5px #43a8ba !important;
}
