.header {
	min-height: 90vh;
	text-align: center;
}

.hero-image {
	background-image: url("header.jpg");
	height: 650px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.hero-text {
	color: #432818;
	text-shadow: 0 0 3px #008000, 0 0 #00b2ca;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	padding-top: 200px;
	padding-left: 100px;
}

.btn-style {
	position: relative;
	font-size: 20px !important;
	margin-top: 20px;
	border-radius: 40px !important;
}

.images {
	padding-top: 150px;
}

.header-icons {
	padding-top: 50px !important;
	font-size: 30px !important;
	display: flex;
	justify-items: center;
}
