.header {
	min-height: 60vh;
	text-align: center;
}

.hero-image {
	background-image: url("header.jpg");
	height: 650px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-end;
}

.hero-text {
	color: #001d3d;
	text-shadow: 0 0 3px #16679a, 0 0 5px #00b2ca;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: flex-end;
	padding-top: 150px;
	padding-right: 90px;
}

.btn-style {
	position: relative;
	font-size: 20px !important;
	margin-top: 20px;
	border-radius: 40px !important;
}

.images {
	padding-top: 150px;
}
