.service {
	color: black;
	font-weight: lighter !important;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 50px;
}

.title {
	font-size: 25px;
	font-family: "Work Sans", sans-serif;
	color: rgb(28, 25, 25);
	padding-top: 34px;
	font-weight: bold;
}

.description {
	font-family: "Work Sans", sans-serif;
	padding-top: 30px;
	font-size: 15px;
	display: flex;
	flex-wrap: wrap;
}

.avatar-style {
	height: 100px !important;
	width: 100px !important;
	border: 2px double #040404;
}

.avatar-style:hover {
	opacity: 90%;
	cursor: pointer;
	transition: 0.3s ease;
	box-shadow: 0 17px 18px 0 rgba(206, 216, 17, 0.2),
		0 9px 20px 0 rgba(0, 0, 0, 0.19);
	height: 110px !important;
	width: 110px !important;
}
